@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 3%);
  --muted: hsl(0, 0%, 30%);

  --accent: hsl(0, 0%, 97%);
  --secondary: hsl(0, 0%, 90%);
  --primary: hsl(0, 0%, 5%);
  --danger: hsl(0 73.7% 41.8%);

  --border: hsl(0, 0%, 85%);
}

.dark {
  --background: hsl(0, 0%, 0%);
  --foreground: hsl(0, 0%, 90%);
  --muted: hsl(0, 0%, 70%);

  --accent: hsl(0, 0%, 5%);
  --secondary: hsl(0, 0%, 8%);
  --primary: hsl(0, 0%, 95%);
  --danger: hsl(0 73.7% 41.8%);

  --border: hsl(0, 0%, 10%);
}

@theme inline {
  --font-inter: var(--font-inter);
  --font-roboto: var(--roboto-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);

  --color-accent: var(--accent);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-danger: var(--danger);

  --color-border: var(--border);

  --animate-scale-up-down: scale-up-down 0.5s linear;
  @keyframes scale-up-down {
    0%,
    100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.05);
      opacity: 0.5;
    }
    75% {
      transform: scale(1.15);
      opacity: 0.75;
    }
  }
}

@layer base {
  * {
    @apply focus-visible:outline-none border-border;
  }
  .padding {
    @apply px-2 md:px-4 lg:px-6;
  }
  .width {
    @apply w-[98%] lg:w-[96%] max-w-[90rem] mx-auto;
  }
  *::-webkit-scrollbar {
    display: none;
  }
  code {
    @apply font-roboto! text-sm! italic;
  }
}
